###### **show vlan brief**

###### **show interfaces trunk**

###### **show etherchannel summary**

###### **show standby brief**

###### **show ip route**

###### **show ip ospf neighbor**



These commands were used to verify:

\- VLAN propagation

\- Trunk status

\- EtherChannel bundling

\- HSRP roles

\- Routing adjacency



